* { 
    box-sizing: border-box;
}

body {
    background-color: rgb(39, 39, 39);
    color: green;
    font-family: 'Courier';
    font-size: 22px;
}

header {
    display: flex;
    justify-content: space-between;
    border-bottom: solid rgb(156, 172, 187) 1px;
}

button,
#submit {
    padding: 12px;
    margin: 20px;
    background-color: rgb(156, 172, 187);
    border: none;
    border-radius: 8px;
    font-family: 'Courier New';
    font-size: 24px;
    font-weight: 300;
    cursor: pointer;
    transition-duration: 175ms;
}

button:hover {
    padding: 14px;
    margin: 18px;
    background-color: rgb(178, 250, 150);
    font-weight: 600;
}

::selection {
    background: lightyellow;
}

.startScreen {
    display: grid;
    place-items: center;
    text-align: center;
    max-width: 750px;
    height: auto;
}

.hide {
    display: none;
}

.wrapper {
    display: grid;
    place-items: center;
    text-align: center;
    padding: 20px;
    margin: 50px;
}

#highScoreBtn {
    display: inline-block;
}

#startBtn {
    line-height: 52px;
    border-radius: 36px;
    font-family: 'Courier';
    font-size: 32px;
    font-weight: 600; 
}