body {
    background-color: rgb(39, 39, 39);
    color: green;
    font-family: 'Courier';
    font-size: 22px;
}

header {
    display: flex;
    justify-content: space-between;
    border-bottom: solid rgb(156, 172, 187) 1px;
}

button,
#submit {
    display: inline;
    padding: 12px;
    margin: 20px;
    background-color: rgb(156, 172, 187);
    border: none;
    border-radius: 8px;
    font-family: 'Courier New';
    font-size: 24px;
    font-weight: 300;
    cursor: pointer;
    transition-duration: 175ms;
}

button:hover {
    padding: 14px;
    margin: 18px;
    background-color: rgb(178, 250, 150);
    font-weight: 600;
}

input {
    padding: 10px;
    max-width: 20%;
    line-height: 32px;
    font-size: 28px;
    font-family: Courier;
}

.container {
    display: grid;
    place-items: center; 
    text-align: center; 
    padding: 20px;
    margin: 75px;
}

.startScreen {
    display: grid;
    place-items: center; 
    text-align: center; 
    max-width: 750px;
    height: auto;
}

.highScoreScreen { 
    text-align: center; 
} 

.result {
    text-align: center;
}
.hide {
    display: none;
}

#highScoreBtn {
    display: inline-block;
}

#startBtn {
    margin-top: 50px;
    line-height: 56px;
    border-radius: 48px;
    font-family: 'Courier';
    font-size: 32px;
    font-weight: 600; 
}

::selection {
    background: lightyellow;
}